.SongItem {
  display: flex;
  padding: 0;
  height: 6rem;
  margin: 0.4rem;
  flex-direction: row;
  align-items: center;
  &.compact {
    height: auto;
    margin: 0 0.4rem;
  }
  .meta {
    flex: 1;
    &.compact div {
      display: inline-block;
      &:not(:first-child):not(:last-child) {
        margin: 0 .2rem;
      }
    }
    &.compact .length {
      float: right;
    }
  }
  .albumArtContainer {
    height: 100%;
    width: 6rem;
    margin-right: .6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .albumArt {
      max-width: 6rem;
      height: auto;
    }
  }
}
