.StatusBar {
  position: fixed;
  background: #555;
  width: 100%;
  color: #ddd;
  display: flex;
  align-items: baseline;
  width: 100%;
  .rs-icon {
    margin: 0 0.2rem;
  }
  .songMeta {
    font-weight: 900;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    .title {
      margin-right: 0.4rem;
    }
    .scrubber {
      flex: 1;
    }
    .position {
      margin-left: 0.4rem;
    }
    .title:hover {
      cursor: pointer;
    }
  }
  .controlButtons {
    display: inline-block;
    margin: 0 0.6rem;
    &:hover {
      cursor: pointer;
    }
  }
  .playlistSelector {
    .rs-picker-toggle-value {
      color: #fff;
      text-align: right;
    }
    margin: 0 0.6rem;
  }
  padding: 0.2rem;
}

.playlistMenuItem {
  .rs-icon {
    float: right;
  }
}
.playlistActions {
  margin-bottom: 0.6rem;
  text-align: right;
  .rs-icon {
    margin-right: 0.6rem;
  }
}
.rs-picker-menu {
  margin-top: 0.2rem;
}
