.SongList {
  padding-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.song:hover {
  background: #999;
  cursor: pointer;
  color: #fff;
}
.song.playing {
  background: purple;
  color: #fff;
  font-weight: 900;
}
